h3{
    margin-top: 3vh;
}
.buttons{
    padding: 15px;
    background-color:  rgb(198, 232, 242);
    border: none;
    border-radius: 5px;
    font-size:large;
    font-weight: 900;
    color: blue;
    width: 7vw;
}
.row{
    justify-content:space-evenly;
    margin-top: 10vh;
    margin-left: 10vw;
}
.operations{
    text-decoration: none;
}
#back{
    padding: 15px;
    background-color:  rgb(198, 232, 242);
    border: none;
    border-radius: 5px;
    font-size:large;
    font-weight: 900;
    color: blue;
    width: 7vw;
}