ul{
    list-style-type: none;
    color: black;
}
.listclass{
    margin-top: 15vh;
    font-weight: 500;
}
h3{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    width: 40vw;
    border: 2px solid black;
    text-align: center;
    margin-left: 25%;
    margin-top: 2vh;
}
td{
    padding: 10px;
}