<div class="listclass">
    <h3>Customers List</h3>
    <table>
        <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Arya Patil</td>
            <td>Arya21@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Vidya Bande</td>
            <td>Vidya23@gmail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nilima Chaudhari</td>
            <td>Nilima23@gmail.com</td>
        </tr>
    </table>
</div>
