.sidebar{
    border: none;
    float: left;
}
ul{
    list-style-type: none;
}
.cat{
    padding: 1rem;
    margin-top: 12%;
}
a{
    color: pink;
    font-weight: 700;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}